<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    api to db
    <form method="post">
      <input type="url" name="api_endpoint"/>
      <input type='submit' value='submit url'/>
    </form>

    <form method ="post" enctype="multipart/form-data">
      <input type="file" name="json_file" />
      <input type='submit' value='submit file'/>
    </form>
    <table>
      {% for r in message %}
      <tr>
        <td>
          {{r.name}}
        </td>
        <td>
          {{r.contents | safe}}
        </td>
        <td>
          {{r.locations}}
        </td>
        <td>
          {{r.categories}}
        </td>
        <td>
          {{r.company}}
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
